
  .loading-overlay {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  