
#sidebar {

    position: sticky absolute;
    align-items: flex-start;
    font-size: 25px;
    flex-direction: row;
    bottom: 200px;
    z-index: 1;
    background-color: gray;
    width: 560px;
    padding: 20px 20px 20px 20px;
}  