
#sidebar {

    align-items: flex-start;
    position: sticky;
    font-size: 25px;
    position: sticky;
    flex-direction: column;
    bottom: 200px;
    z-index: 1;
    background-color: gray;
    width: 150px;
}  