
.WebGL{
    width: 960px;
    height: 545px;
    left: 49.7%;
    top: 56.5%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* pointer-events: none; */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    /* border: 5px outset gray; */
}